include mixins/_document_head.jade
include mixins/_header.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype
html
  mixin documentHead
  body
    mixin header
    h1 About
    mixin scripts
